<header class="flex h-[50px] items-center bg-bar px-3 text-fg">
	<a href="/" class="mr-3 px-3 text-lg font-bold text-bright">xioioi</a>
	<a href="/todo" class="flex h-full items-center px-3 text-fg hover:text-bright">Contests</a>
	<a href="/problemset" class="flex h-full items-center px-3 text-fg hover:text-bright">Problemset</a>
	<a href="/todo" class="flex h-full items-center px-3 text-fg hover:text-bright">Submissions</a>
	<time id="clock" class="ml-auto px-3 font-mono text-sm"></time>
	<a href="/todo" class="flex h-full items-center px-3 text-fg hover:text-bright">Log in</a>
</header>
<script src="/static/js/clock.js" defer></script>
