<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Problemset - xioioi</title>
		<link rel="stylesheet" href="/static/css/app.css">
	</head>
	<body>
		%%navbar%%
		<main>
			<nav class="nav-pills mb-4">
				<a href="/problemset" class="active">Public problems</a>
			</nav>
			<form class="input-group mb-6 max-w-xl" action="/problemset">
				<input type="search" name="q" value="%%q%%" placeholder="Search by id or name" class="form-control">
				<button type="submit" class="btn btn-outline">Search</button>
			</form>
			<table>
				<thead>
					<tr>
						<th><a href="?order_by=id%%qs%%">ID</a></th>
						<th class="w-full"><a href="?order_by=name%%qs%%">Name</a></th>
						<th class="text-center">Time</th>
						<th class="text-center">Memory</th>
					</tr>
				</thead>
				<tbody>
					%%rows%%
				</tbody>
			</table>
		</main>
		%%footer%%
	</body>
</html>
