<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Problemset - xioioi</title>
		<link rel="stylesheet" href="/static/css/app.css">
	</head>
	<body>
		%%navbar%%
		<main>
			<nav class="nav-pills mb-4">
				<a href="/problemset" class="active">Public problems</a>
			</nav>
			<form class="input-group mb-6 max-w-xl" action="/problemset">
				<input type="search" name="q" id="q" placeholder="Search by id or name" class="form-control">
				<button type="submit" class="btn btn-outline">Search</button>
			</form>
			<table>
				<thead>
					<tr>
						<th><a id="sort-id" href="?order_by=id">ID</a></th>
						<th class="w-full"><a id="sort-name" href="?order_by=name">Name</a></th>
						<th class="text-center">Time</th>
						<th class="text-center">Memory</th>
					</tr>
				</thead>
				<tbody id="problems">
					<tr><td colspan="4" class="text-center text-muted">Loading...</td></tr>
				</tbody>
			</table>
		</main>
		%%footer%%
		<script src="/static/js/problemset.js"></script>
	</body>
</html>
